[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
vcrpy = "*"
parameterized = "*"
freezegun = "*"
xmltodict = "*"

[packages]
boto3 = ">= 1.13"
bson = "*"
marshmallow = "*"
python-dateutil = "*"

[requires]
python_version = "3.7"
